$blue :#1DA1F2;
$white : #FFFFFF;
$gray-body :#E5E3F2;
$bg-footer :#C6C4D3;
$color-icon : #636468;
$red-heart : #FC1E26;
$medida : 100%;
$font-textarea : #4E4D53;
$cursor : pointer;
$no-property : none;
$font : 'Oswald', sans-serif;
$footer-text : #636468;